@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFF5B5;
}
.logotipo{
	margin-top: 5%;
	margin-bottom: 5%;
}

.col-sm-4{
	font-size: 150%;
}
.row{
	margin: 3%;
}
h6{
	margin-bottom: 5%;
	margin-top: 3%;
}
footer{
	background-color: aliceblue;
}